@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

    .container-xl{font-family: 'Manrope', sans-serif; 
                    font-size: 13px;}

    .moda{font-family: 'Manrope', sans-serif;  
                   font-size: 13px;}
                   
       .valide {
     background-color: #5BE881;
     color: white;
     font-size: 11px;
     text-align: center;
     border-radius: 5px;
    padding: 3px 1px ;
   }
   .rejected {
     background-color: #FF0000;
     color: white;
     font-size: 11px;
     text-align: center;
     border-radius: 5px;
     padding: 3px 1px ;
   }
   .on-validation {
     background-color: #FDB64D;
     color: white;
     font-size: 11px;
     text-align: center;
     border-radius: 5px;
     padding: 3px 1px ;
   }
   
    